.PageFrame {
    background-image: url('../assets/bg-dark.jpg');
    background-size: cover;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
